* {
    box-sizing: border-box;
}

.sphere {
    position: relative;
    border-radius: 50%;
    perspective: 50000px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
}

.sphere__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    perspective: 50000px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    border-radius: 50%;
}

.sphere__list.active {
    animation: rotate 30s infinite linear;
}

.sphere__tooltip.active, .sphere__item.active {
    animation: rotate 30s infinite linear reverse;
}

.sphere:hover .sphere__list, .sphere:hover .sphere__tooltip, .sphere:hover .sphere__item {
    animation-play-state: paused;
}

.sphere__options {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sphere__label-point, .sphere__label-tooltip {
    display: flex;
    align-items: center;
    width: 200px;
}

.sphere__label-text {
    margin-right: 15px;
    font-weight: bold;
    text-align: center;
}

.sphere__label-point input, .sphere__label-tooltip input {
    width: 50px;
    border: none;
    border-bottom: 1px solid #303030;
    text-align: center;
}

.sphere__label-tooltip {
    left: 60%;
}

.sphere__item {
    width: 100%;
    height: 100%;
    border: 1px solid #303030;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
}

.sphere__item.filled {
    background-color: #303030;
}

.sphere__tooltip {
    position: absolute;
    z-index: 100;
}

.sphere__link {
    display: block;
    position: absolute;
    text-decoration: none;
    color: #303030;
    background-color: #fff;
    border: 1px solid #303030;
    padding: 5px;
    border-radius: 25px;
}

@keyframes rotate {
    0%   { transform: rotate3d(1, 1, 1, 0deg); transform-style: preserve-3d; }
    100% { transform: rotate3d(1, 1, 1, 360deg); transform-style: preserve-3d; }
}

.sphere__wrapper {
    perspective: 50000px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    position: absolute;
}